body {
  background: #becdb3;
  color: black;
 font-family: "Times New Roman", Times, serif;
  margin: 20px auto;
  width: 500px;
  font-size: 18px;
  line-height: 2.0;
}

.simple_form label {
  float: left;
  width: 140px;
  text-align: right;
  margin: 4px 10px;
}

.simple_form div.input 
 {
  margin-bottom: 10px;

}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 100px;
}

 